.banxin {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
}

.toptab {
    width: 100%;
    height: 160px;
}

.fanhui {
    margin-top: 1px;
    float: left;
    width: 51px;
    height: 48px;
    margin-left: 55px;
    margin-right: 206px;
}

    .fanhui a {
        display: block;
    }


.contentab {
    float: left;
    vertical-align: top;
    margin-left: 118px;

}

    .contentab ul li {
        float: left;
        vertical-align: top;
    }

        .contentab ul li a {
            font-size: 48px;
            color: #000;
        }

.sousuo {
    float: right;
    margin-left: 203px;
    width: 47px;
    height: 48px;
    position: relative;
    right: -235px;
    top: -174px;
}

    .sousuo a {
        display: block;
    }

.diyi {
    margin-right: 98px;
    vertical-align: top;
}


/*=========================下面的选项====================*/

.mfxd {
    width: 100%;
    height: 145px;
    position: fixed;
    left: 0;
    top:169px;
    background-color: #fff;
    border: 2px solid #e5e5e5;
    border-right: none;
    border-left: none;
    margin-top: -1px;
    height: 145px;
    line-height: 145px;
    z-index: 99988;
}

.zxxd {
    display: inline-block;
    font-size: 40px;
    margin-left: 94px;
    margin-right: 160px;
        float: left;
}
.active{
    color:#fa9c14 !important;
}
.xlyx {
    display: inline-block;
    margin-right: 211px;
    font-size: 40px;
}

.hzs {
    display: inline-block;
    font-size: 40px;
}


/*================================下面的三条信息================*/

.yitu {
    margin-left: 29px;
    margin-bottom: 98px;
}

.yt-top-l {
    width: 118px;
    height: 118px;
    border-radius: 118px;
    border: 1px solid #bfbfbf;
    float: left;
    margin-right: 23px;
}

    .yt-top-l img {
        width: 118px;
        height: 118px;
        border-radius:118px;
       

    }

.yt-top-c {
    float: left;
    margin-top:10px;
}

    .yt-top-c .top {
        font-size: 40px;
        color: #4e4e4e;
        margin-bottom: 0px;
    }

    .yt-top-c .bot {
        font-size: 32px;
        color: #959595;
    }

.yt-top-r {
    float: right;
    width: 130px;
    height: 75px;
    line-height: 75px;
    border-radius: 38px;
    border: 2px solid #fa9c14;
    text-align: center;
    margin-top: 14px;
    cursor: pointer;
    margin-right: 30px;
}

    .yt-top-r p {
        font-size: 32px;
        color: #fa9c14;
    }


/*========图片展示部分======*/

.yt-bot {
    margin-top: 24px;
}

    .yt-bot .yt-bot-l {
        float: left;
        width: 507px;
        height: 507px;
        margin-right: 8px;
    }

 .yt-bot .yt-bot-r {
        float: left;
        width: 507px;
        height: 507px;
    }

  .yt-bot .yt-bot-l img, .yt-bot .yt-bot-r img {
            width: 507px;
            height: 507px;
        }

/*================第二个图片==========*/

.ertu {
    margin-left: 29px;
    margin-bottom: 98px;
}

 .ertu .yt-top {
        margin-bottom: 32px;
    }

 .ertu .et-b-tu {
        width: 1022px;
        height: 1022px;
    }

        .ertu .et-b-tu img {
            width: 100%;
            height: 100%;
        }

/*==============第三个图==============*/

.santu {
    margin-left: 29px;
}

  .santu .yt-top {
        margin-bottom: 32px;
    }

 .santu .st-b-tu .st-b-l {
        width: 678px;
        height: 678px;
        float: left;
        margin-right: 8px;
    }

 .santu .st-b-tu .st-b-r {
        height: 678px;
        width: 336px;
        float: left;
    }

 .santu .st-b-tu .st-b-r .st-b-r-t {
            width: 336px;
            height: 336px;
            margin-bottom: 8px;
        }

        .santu .st-b-tu .st-b-r .st-b-r-b {
            width: 336px;
            height: 336px;
        }

/*添加伪类*/

.tabhover::after {
   content: "";
    background-color: #fa9f13;
    display: block;
    width: 186px;
    height: 6px;
    margin-top: -47px;

}
/*=-====================下拉框的箭头==========================*/

#zujing {
    margin: 0;
    /*很关键：将默认的select选择框样式清除*/
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("../img/jiantou.jpg") no-repeat scroll 95% 50%;
    background-size: 16px 13px;
    cursor: pointer;
    padding-right: 14px;
}
select::-ms-expand { display: none; }
.jtnr {
    height: 100%;
    padding-top: 212px;
    overflow: scroll;
    /*padding-bottom: 200px;*/
    border: none;
    width: 100%;
}

.st-b-r-t img, .st-b-r-b img {
    width: 336px;
    height: 336px;
}

.st-b-l img {
    width: 678px;
    height: 678px;
}

.santu, .ertu, .yitu {
    margin-bottom: 90px;
}

.tabcontent img {
    object-fit: cover;
  
}

.prompt {
    height: 71px;
    width: 291px;
    background-color: #333333;
    font-size: 32px;
    line-height: 73px;
    overflow: visible;
    margin-top: 0;
    vertical-align: middle;
    left: 39%;
    bottom: 0%;
    border-radius: 18px;
    text-align: center;
    margin-left: 37%;
    margin-top: 0%;
}

    .prompt span {
        color: #fff;
    }

.jtnr .waiting {
    width: 100%;
    overflow: hidden;
}

    .jtnr .waiting img {
        display: block;
        width: 60px;
        margin: 0 auto;
    }
.main1{
   margin-top:-37px;
}
 .tab-switch{
              position:fixed;
              top:-54px;
              left:0;
              z-index:99;
              height:160px;
              width:100%;
              line-height:160px;
              background-color:#fff;
              margin-top: 52px;
              text-align:center
          
          
              
         }
   
   .contentab{
       font-size:54px;
   }
   
  
   .yt-top-c  .top  img {
      margin-left: 12px;
    margin-bottom: 7px;
   }
   .TitleBar1{
    width:100%;
    height:211px;
    font-size:46px;
    text-align:center;
    line-height:120px;
    position:fixed;
    z-index:999;
    left:0;
    top:0;
    /*display:none;*/
    border-bottom:2px solid #ccc;
    background:#fff;
    box-sizing:border-box;
}
.TitleBar1 span{
    display:block;
    width:100%;
    height:168px;
    line-height:168px;
    background-color:#fff;
}
.oTitle1 {
    width: 100%;
    height: 168px;
    line-height: 168px;
    position: absolute;
    left:0;
    top:43px;
    text-align: center;
    font-size: 54px;
    color: #444;
    background: #fff;
}
.AllShopReturn{
    position:absolute;
    left:12px;
    top:30px;
    z-index:1000;
    width: 120px;
    height: 120px;
    /*display:none;*/
}
    .AllShopReturn.ios {
        background-image: url(//mall-res.manboker.com/newmall/CN/goodsImg/Onlineretailers_back.png);
    }

    .AllShopReturn.android {
        background-image: url('//mall-res.manboker.com/newmall/CN/returnA.png');
    }
   .yt-top-c  .top  {
       display:inline-block
   }
    .yt-top-c    img{
       vertical-align: top;
    width: 40px;
    height: 40px;
    margin-top: 8px;
    margin-left: 7px;
    }
    .yt-top-c .bot{
          width:540px;
      white-space:nowrap; 
      text-overflow:ellipsis;
       -o-text-overflow:ellipsis;
        overflow:hidden
    }
    .yt-top-c  div{
         width:540px;
         height:56px;
    }
    .Prompt{
        width: 700px;
        height: 130px;
        background-color: #000000;
        opacity: 0.65;
        font-size: 46px;
        color: #ffffff;
        border-radius: 12px;
        line-height: 130px;
        text-align: center;
        position: fixed;
        top: 45%;
        left: 18%;
    }
    img[src=''] 
{
  display: none;
}


   .yt-top-c .top {
    max-width:450px;
    text-overflow:ellipsis;
    float:left;
    white-space:nowrap;
    overflow:hidden;
}

.yt-top-c  img{
    float:left;
    margin-left:22px;
}

.show{
     display:block;
}
.hide{
     display:none
}
.fanhuiclick{
     width:100px;
     height:100px;
     position:relative;
     top:0;
     left:0;
     z-index:999999;
}




  .main1 .BoutiqueStudio .StuiodList .Studio .StudioAuthor .StudioAuthorIcon img {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 118px;
        }

        .main1 .NewArrivals .NewBox .NewList .NewModel .DetailWords .Author img {
            display: inline-block;
            vertical-align: middle;
            width: 68px;
            height: 68px;
            margin-right: 18px;
            border-radius: 68px;
        }

        .NewList .waiting img {
            padding: 269px 0;
            position: relative;
            left: 490px;
            top: 28px;
            width: 68px;
        }

        .main {
            /*padding-bottom: 100px;*/
            padding-top: 0px;
        }

        .main1 {
            width: 100%;
            height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            box-sizing: border-box;
            padding-top: 0px;
            margin-top: -37px;
        }

        .mfxd-content {
            padding-bottom: 22px;
        }

        .main1 .header1 {
            margin-top: 37px;
        }

        .santu, .ertu, .yitu {
            margin-bottom: 90px;
            margin-left: 28px;
        }

        .zxxd .select li span.down {
            background: url(//mall-res.manboker.com/newmall/CN/Activity/Studio/down.png) no-repeat 95% 50%;
            background-size: 24px 24px;
            padding-right: 40px;
        }
         .zxxd .select li span.up {
            background: url(//mall-res.manboker.com/newmall/CN/Activity/Studio/down_click.png) no-repeat 95% 50%;
            background-size: 24px 24px;
            padding-right: 40px;
        }
          .zxxd .select li span.down1 {
            background: url(//mall-res.manboker.com/newmall/CN/Activity/Studio/down1.png) no-repeat 95% 50%;
            background-size: 24px 24px;
            padding-right: 40px;
        }


          .zxxd .select li span.stopClick{
               background: url(//mall-res.manboker.com/newmall/CN/Activity/Studio/down_click1.png) no-repeat 95% 50%;
            background-size: 24px 24px;
            padding-right: 40px;
          }
        .zxxd .select {
            width: 202px;
            background-color: #FFF;
        }

        .cur {
           
        }

        .second li {
            height: 125px;
            line-height: 125px;
            padding-left: 92px;
            text-align: center;
            text-align: left;
            box-sizing: border-box;
            border-bottom: 1px solid #b7b7b7;
        }

        .second {
            width: 100%;
            position: absolute;
            top: 147px;
            left: 0;
            background-color: #fff;
            z-index: 99;
        }
        .fanhuiclick{
             width:100px;
             height:100px;
             position:relative;
             top: -124px;
            left: 25px;
        }